@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: rgb(223, 223, 223);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(247, 247, 247);
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'PlayWrite';
  src: url("assets/fonts//PlaywriteITModerna-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
